<style>
    .show-notification {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 5s;
    }
</style>

{% if messages %}
{% for message in messages %}
    <div class="alert alert-success show-notification" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
    </div>                                                    
{% endfor %}
{% endif %}